name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  upload-binaries:
    name: Build & Upload (${{ matrix.platform.target }})
    strategy:
      matrix:
        platform:
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: rustoveva-linux-x86_64.tar.gz
            bin: rustoveva
            command: build

          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            name: rustoveva-windows-x86_64.zip
            bin: rustoveva.exe
            command: build

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true

      - name: Package (Windows)
        if: matrix.platform.os == 'windows-latest'
        run: |
          cd target/${{ matrix.platform.target }}/release
          7z a ../../../${{ matrix.platform.name }} ${{ matrix.platform.bin }}

      - name: Package (Linux)
        if: matrix.platform.os != 'windows-latest'
        run: |
          cd target/${{ matrix.platform.target }}/release
          tar czvf ../../../${{ matrix.platform.name }} ${{ matrix.platform.bin }}

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.platform.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}